/* styles.css */
.active {
    /* Your active category styles */
    background-color: #f0f0f0;
    font-weight: bold;
    /* Add other styles as needed */
  }
.ListGroup .ListGroup.Item{
margin-left:-100px;
padding:100px;


  }
  .menu-categories .categories  .list-group-item:hover  {
    background-color: #ffa500; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width:100%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height:300px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .item{
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    background-image: url('./imagenes/fondo3.jpg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    height: 100vh; /* Ajusta la altura al 100% de la ventana visible (viewport height) */



  }

  .noti{
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(3,1fr);
gap:2px;
margin:-10px;
padding: -10px;

  }
.menu-categories{
margin:-10px;
padding:-10px;



}
.footer{
margin-bottom:100px !important;
padding:100px !important;



}
/* Estilos base */
.item {
  padding: 20px; /* Espaciado alrededor del contenido */
}

.menu-categories {
  color: white;
  padding: 10px;
}

.categories h3 {
  margin-top: 0;
}

.gallery {
  position: relative;
  width: 100%;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
}

/* Media queries para hacer el diseño responsive */
@media screen and (min-width: 768px) {
  .menu-categories {
    width: 25%; /* Ancho fijo para el menú de categorías en dispositivos de al menos 768px */
    float: left;
  }
  
  .noti {
    width: 75%; /* Ancho para el contenido de noticias en dispositivos de al menos 768px */
    float: left;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    margin-bottom: 20px; /* Agregar espacio entre elementos en dispositivos de menos de 768px */
  }
}
